<template>
  <div class="social-div">
    <span>
      <a class="social" href="https://github.com/Snipey">
        <fa class="icon" :icon="faGithub" />
      </a>
    </span>
    <span>
      <a class="social" href="https://gitlab.com/Snipey">
        <fa class="icon" :icon="faGitlab" />
      </a>
    </span>
    <span>
      <a class="social" href="https://twitter.com/SnipeyDev">
        <fa class="icon" :icon="faTwitter" />
      </a>
    </span>
    <span>
      <a class="social" href="https://discord.gg/T5fZ8ys">
        <fa class="icon" :icon="faDiscord" />
      </a>
    </span>
    <span>
      <a class="social" href="https://www.npmjs.com/~snipey">
        <fa class="icon" :icon="faNpm" />
      </a>
    </span>
    <span>
      <a class="social" href="mailto:contact@snipey.dev">
        <fa class="icon" :icon="faEnvelope" />
      </a>
    </span>
    <span>
      <a class="social" href="https://notify.me/snipey">
        <svg-icon class="icon social-svg" name="notify" />
      </a>
    </span>
    <span>
      <a class="social" href="https://dev.to/snipey">
        <fa class="icon" :icon="faDev" />
      </a>
    </span>
  </div>
</template>

<script>
import {
  faDiscord,
  faTwitter,
  faGitlab,
  faNpm,
  faGithub,
  faDev
} from "@fortawesome/free-brands-svg-icons";
import { faEnvelope } from "@fortawesome/free-solid-svg-icons";
export default {
  computed: {
    faGitlab() {
      return faGitlab;
    },
    faNpm() {
      return faNpm;
    },
    faGithub() {
      return faGithub;
    },
    faTwitter() {
      return faTwitter;
    },
    faDiscord() {
      return faDiscord;
    },
    faEnvelope() {
      return faEnvelope;
    },
    faDev() {
      return faDev;
    }
  }
};
</script>

<style scoped>
.social-div {
  margin: 5px;
  text-align: center;
}

.social {
  color: #fdfbff;
  padding: 5px;
}

.social-svg {
  fill: #fdfbff;
}

.social-svg:hover {
  fill: #da4096;
}

.icon {
  width: 45px;
  height: 45px;
}

a:hover {
  color: #da4096;
}
</style>
